<!-- ============================================== HEADER ============================================== -->
<header class="header-style-1">
    <!-- ============================================== TOP MENU ============================================== -->
    <div class="top-bar animate-dropdown">
        <div class="container">
            <div class="header-top-inner">
                <div class="cnt-account">
                    <ul class="list-unstyled">
                        <li><a href="#">Giới Thiệu</a></li>
                        <li><a href="#">Tin Tức</a></li>
                        <li><a href="#">Đường Đén Khó Đá</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </div>

            </div>
        </div><!-- /.container -->
    </div><!-- /.header-top -->
    <!-- ============================================== TOP MENU : END ============================================== -->
    <div class="main-header">
        <div class="container">
            <div class="row box-header" style="height: 300px;display: flex;justify-content: space-between;">
                <div class="col-xs-12 col-sm-12 col-md-3 logo-holder">
                    <!-- ============================================================= LOGO ============================================================= -->
                    <div class="logo"><a href="/"><img width="100%" height="100%" src="/assets/images/logo.png"
                                alt="logo"></a></div>
                    <!-- /.logo -->
                    <!-- ============================================================= LOGO : END ============================================================= -->
                </div>

                <div  class="infomation-banner" style="align-self: center;display: flex;justify-content: space-between;">
                    <div class="col-xs-12 col-sm-12 col-md-6 top-search-holder">
                        <div class="col medium-6 small-12 large-6">
                            <div class="col-inner " style="display: flex;">

                                <div class="" style="margin-right: 10px;">
                                    <img style="filter: brightness(100);" width="50px" height="50px"
                                        src="/assets/images/iconmail.png" alt="">
                                </div>
                                <div>
                                    <h3 style="margin: 0px;color: #fff;">EMAIL CÔNG TY</h3>
                                    <p style="margin: 0px;color: #fff;">tongkhodangochan@gmail.com</p>

                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4 top-search-holder">
                        <div class="col medium-6 small-12 large-6">
                            <div class="col-inner " style="display: flex;">

                                <div class="" style="margin-right: 10px;">
                                    <img style="filter: brightness(100);" width="50px" height="50px"
                                        src="/assets/images/iconhotlinehead.png" alt="">
                                </div>
                                <div>
                                    <h3 style="margin: 0px;color: #fff;">HOTLINE</h3>
                                    <p style="margin: 0px;color: #fff;">0368428686</p>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.main-header -->
    <!-- ============================================== NAVBAR ============================================== -->
    <div class="header-nav animate-dropdown">
        <div class="container">
            <div class="yamm navbar navbar-default" role="navigation">
                <div class="navbar-header"><button data-target="#mc-horizontal-menu-collapse" data-toggle="collapse"
                        class="navbar-toggle collapsed" type="button"><span class="sr-only">Toggle
                            navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span
                            class="icon-bar"></span></button></div>
                <div class="nav-bg-class">
                    <div class="navbar-collapse collapse" id="mc-horizontal-menu-collapse">
                        <div class="nav-outer">
                            <ul class="nav navbar-nav list-menu-category">
                                
                            </ul>
                        </div>
                    </div>
                </div>


                </ul><!-- /.navbar-nav -->
                <div class="clearfix"></div>
            </div><!-- /.nav-outer -->
        </div><!-- /.navbar-collapse -->
    </div><!-- /.nav-bg-class -->
    </div><!-- /.navbar-default -->
    </div><!-- /.container-class -->
    </div><!-- /.header-nav -->
    <!-- ============================================== NAVBAR : END ============================================== -->
</header>
<style>
    @media screen and (max-width: 742px) {
        .infomation-banner,.box-header{display: block !important}
        .infomation-banner{text-align: center;}
        .col-inner{    justify-content: center;}
        .top-search-holder{margin-bottom: 10px;}
    }
</style>