<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>HoangGia - Hoang Gia Computer</title>
    <link rel="icon" type="image/png" href="images/favicon.png"><!-- fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i"><!-- css -->
    <link rel="stylesheet" href="/vendor/bootstrap-4.2.1//css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel-2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/style.css"><!-- js -->
    <script src="/vendor/jquery-3.3.1/jquery.min.js"></script>
    <script src="/vendor/bootstrap-4.2.1//js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/owl-carousel-2.3.4/owl.carousel.min.js"></script>
    <script src="/vendor/nouislider-12.1.0/nouislider.min.js"></script>
    <script src="/js/number.js"></script>
    <script src="/js/main.js"></script>
    <script src="/vendor/svg4everybody-2.1.9/svg4everybody.min.js"></script>
    <script>svg4everybody();</script><!-- font - fontawesome -->
    <link rel="stylesheet" href="/vendor/fontawesome-5.6.1//css/all.min.css"><!-- font - stroyka -->
    <link rel="stylesheet" href="/fonts/stroyka/stroyka.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97489509-6"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-97489509-6');</script>
</head>

<body>

    <div>
        <header>
            <%- include('../partials/header.ejs') %>
        </header>

        <main>
            <%- body %>
        </main>

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
        <a href="tel:0393452945" class="phone-call">

            <div class="phone-icon">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="phone-background"></div>
            <div class="phone-ring"></div>
        </a>
        <a href="#top" class="back-to-top"><i class="fas fa-angle-up"></i>
        </a>

    </div>

</body>
<script>

    $(document).ready(function () {

        //Pour afficher le bouton 
        var offset = 120;
        var duration = 500;
        $(window).scroll(function () {
            if (jQuery(this).scrollTop() > offset) {
                $('.back-to-top').fadeIn(duration);
            } else {
                $('.back-to-top').fadeOut(duration);
            }
        });

        //Pour le smoth scroll
        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 500);
                        return false;
                    }
                }
            });
        });
    });

</script>
<style>
    .phone-call {
        position: fixed;
        bottom: 40px;
        left: 40px;
        width: auto;
        height: 40px;
        border-radius: 20px;
        background-color: rgba(255, 0, 0, 0.8);
        color: #ffffff !important;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
        padding-left: 40px;
        font-weight: 500;
        cursor: pointer;
        z-index: 3;
    }

    .phone-call>span {
        line-height: 40px;
        display: inline-block;
    }

    .phone-call .phone-icon {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ff0000;
        font-size: 16px;
        z-index: 3;
        animation: phone-icon 0.5s infinite;
    }

    .phone-call .phone-background {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ff0000;
        z-index: 2;
        opacity: 0.5;
        transform: translate(-50%, -50%);
        animation: phone-background 2s infinite;
    }

    .phone-call .phone-ring {
        position: absolute;
        left: 20px;
        top: 20px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        z-index: 1;
        border: 1px solid #ff0000;
        transform: translate(-50%, -50%);
        animation: phone-ring 1s infinite;
    }

    @keyframes phone-icon {
        0% {
            transform: rotate(0deg);
        }

        20% {
            transform: rotate(20deg);
        }

        40% {
            transform: rotate(-20deg);
        }

        60% {
            transform: rotate(20deg);
        }

        80% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes phone-background {
        0% {
            width: 40px;
            height: 40px;
        }

        50% {
            width: 60px;
            height: 60px;
        }

        100% {
            width: 40px;
            height: 40px;
        }
    }

    @keyframes phone-ring {
        0% {
            width: 60px;
            height: 60px;
            opacity: 1;
        }

        100% {
            width: 80px;
            height: 80px;
            opacity: 0.5;
        }
    }

    .back-to-top {
        position: fixed;
        bottom: 40px;
        right: 40px;
        text-decoration: none;
        color: #000000;
        background-color: rgba(235, 235, 235, 0.80);
        font-size: 12px;
        padding: 1em;
        display: none;
    }

    .back-to-top:hover {
        background-color: rgba(135, 135, 135, 0.50);
    }
</style>

</html>