<div class="body-content outer-top-xs">
    <div class='container'>
        <div class='row single-product'>
            <div class='col-md-9'>
                <div class="detail-block">
                    <div class="row  wow fadeInUp">
                        <div class="col-xs-12 col-sm-6 col-md-5 gallery-holder">
                            <div class="product-item-holder size-big single-product-gallery small-gallery">
                               
                              
                                <div class="card-wrapper box-image">
                                    <div class="card">
                                        <div class="product-imgs">
                                            <div class="img-display">
                                                <div id="box-detal-show" class="img-showcase">
                                                    <!-- <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"
                                                        alt="shoe image">
                                                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
                                                        alt="shoe image">
                                                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
                                                        alt="shoe image">
                                                    <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
                                                        alt="shoe image"> -->
                                                </div>
                                            </div>
                                            <div id="box-detal-list" class="img-select">
                                                <!-- <div class="img-item">
                                                    <a href="#" data-id="1">
                                                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_1.jpg"
                                                            alt="shoe image">
                                                    </a>
                                                </div>
                                                <div class="img-item">
                                                    <a href="#" data-id="2">
                                                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_2.jpg"
                                                            alt="shoe image">
                                                    </a>
                                                </div>
                                                <div class="img-item">
                                                    <a href="#" data-id="3">
                                                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_3.jpg"
                                                            alt="shoe image">
                                                    </a>
                                                </div>
                                                <div class="img-item">
                                                    <a href="#" data-id="4">
                                                        <img src="https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/shoe_4.jpg"
                                                            alt="shoe image">
                                                    </a>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.gallery-holder -->
                        <div class='col-sm-6 col-md-7 product-info-block'>
                            <div class="product-info">
                                <h1 id="name-product" class="name"></h1>
                                <!-- <div class="rating-reviews m-t-20">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="rating rateit-small"></div>
                                        </div>
                                        <div class="col-sm-8">
                                            <div class="reviews"><a href="#" class="lnk">(13 Reviews)</a></div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="stock-container info-container m-t-10">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <div class="stock-box"><span class="label">Availability :</span></div>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="stock-box"><span class="value">In Stock</span></div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="description-container m-t-20">
                                    <div class="product-short-description description-product">
                                        <div style="display: flex">
                                            <p style="width: 200px"><i class="fa-solid fa-check"></i> Xuất xứ: <span
                                                    id="orgin-product">Brazil</span></p>
                                            <p><i class="fa-solid fa-check"></i> Màu sắc: <span
                                                    id="color-product">Brazil</span></p>
                                        </div>
                                        <div style="display: flex">
                                            <p style="width: 200px"><i class="fa-solid fa-check"></i> Loại đá: <span
                                                    id="category-product">Brazil</span></p>
                                            <p><i class="fa-solid fa-check"></i> Độ dày: <span
                                                    id="thinkness-product">Brazil</span></p>
                                        </div>

                                    </div>
                                </div>
                                <div class="price-container info-container m-t-20">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="price-box"><span class="price">Giá : Liên Hệ</span>
                                                <!-- <span class="price-strike">$900.00</span> -->
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="quantity-container info-container">
                                    <div class="row">
                                        <div class="ycbaogia_new">
                                            <h4><a href="tel:0368428686">Liên Hệ</a></h4>
                                            <p><a href="tel:0368428686">Được tư vấn và báo giá tốt nhất miễn phí</a></p>
                                        </div>
                                        <!-- <div class="col-sm-2"><span class="label">Qty :</span></div>
                                        <div class="col-sm-2">
                                            <div class="cart-quantity">
                                                <div class="quant-input">
                                                    <div class="arrows">
                                                        <div class="arrow plus gradient"><span class="ir"><i
                                                                    class="icon fa fa-sort-asc"></i></span></div>
                                                        <div class="arrow minus gradient"><span class="ir"><i
                                                                    class="icon fa fa-sort-desc"></i></span></div>
                                                    </div><input type="text" value="1">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-7"><a href="#" class="btn btn-primary"><i
                                                    class="fa fa-shopping-cart inner-right-vs"></i>ADD TO CART</a>
                                        </div> -->
                                    </div>
                                </div>
                            </div><!-- /.product-info -->
                        </div><!-- /.col-sm-7 -->
                    </div><!-- /.row -->
                </div>
                <div class="product-tabs inner-bottom-xs  wow fadeInUp">
                    <div class="row">
                        <div class="col-sm-12">
                            <ul id="product-tabs" class="nav nav-tabs nav-tab-cell">
                                <li class="active"><a data-toggle="tab" href="#description">Mô Tả</a></li>
                            </ul><!-- /.nav-tabs #product-tabs -->
                        </div>
                        <div class="col-sm-12">
                            <div class="tab-content">
                                <div id="description" class="tab-pane in active">
                                    <div class="product-tab">
                                        <p class="text">
                                        <div class="panel entry-content active" id="tab-description">


                                            <p><img id="descrip-image-product"
                                                    class="aligncenter size-full wp-image-6438"
                                                    src="https://sieuthida.vn/wp-content/uploads/2020/10/Đá-vân-gỗ-loạn-lát-nền-nhà.jpg"
                                                    alt="Đá vân gỗ loạn lát nền nhà" width="700" height="500"></p>
                                            <p id="descrip-product"></p>
                                            <p>Quý khách có nhu cầu biết thêm thông tin chi tiết về <strong><a href="#"
                                                        id="descrip-name-product">đá Marble vân gỗ loạn</a>
                                                </strong>như: hình ảnh, kích
                                                thước khổ đá , giá thành, phương thức vận chuyển tại thời điểm hiện tại
                                                vui lòng liên hệ Hotline:&nbsp;<span
                                                    style="color: #ed1c24;"><strong>036.842.8686&nbsp;</strong></span>
                                            </p>
                                            <p>Tổng kho đá Ngọc Hân :</p>
                                            <p><strong>Kho Hà Đông</strong>: Số 16, Tổ 2 Đa Sỹ, Kiến Hưng, Hà Đông, Hà
                                                Nội</p>

                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.tab-content -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.product-tabs -->

                <section class="section featured-product wow fadeInUp">
                    <h3 class="section-title">Sản Phẩm Liên Quan</h3>
                    <div id="box-product-detail" style="overflow: auto !important;display:flex !important;"
                        class="owl-carousel home-owl-carousel upsell-product custom-carousel owl-theme outer-top-xs ">
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                    src="/assets/images/products/p1.jpg" alt=""></a></div>
                                        <div class="tag sale"><span>sale</span></div>
                                    </div>
                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span class="price"> $650.99</span><span
                                                class="price-before-discount">$ 800</span></div>
                                    </div>
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group"><button
                                                        class="btn btn-primary icon" data-toggle="dropdown"
                                                        type="button"><i
                                                            class="fa fa-shopping-cart"></i></button><button
                                                        class="btn btn-primary cart-btn" type="button">Add to
                                                        cart</button></li>
                                                <li class="lnk wishlist"><a class="add-to-cart" href="detail.html"
                                                        title="Wishlist"><i class="icon fa fa-heart"></i></a></li>
                                                <li class="lnk"><a class="add-to-cart" href="detail.html"
                                                        title="Compare"><i class="fa fa-signal"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                    src="/assets/images/products/p2.jpg" alt=""></a></div>
                                        <div class="tag sale"><span>sale</span></div>
                                    </div>
                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span class="price"> $650.99</span><span
                                                class="price-before-discount">$ 800</span></div>
                                    </div>
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group"><button
                                                        class="btn btn-primary icon" data-toggle="dropdown"
                                                        type="button"><i
                                                            class="fa fa-shopping-cart"></i></button><button
                                                        class="btn btn-primary cart-btn" type="button">Add to
                                                        cart</button></li>
                                                <li class="lnk wishlist"><a class="add-to-cart" href="detail.html"
                                                        title="Wishlist"><i class="icon fa fa-heart"></i></a></li>
                                                <li class="lnk"><a class="add-to-cart" href="detail.html"
                                                        title="Compare"><i class="fa fa-signal"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                    src="/assets/images/products/p3.jpg" alt=""></a></div>
                                        <div class="tag hot"><span>hot</span></div>
                                    </div>
                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span class="price"> $650.99</span><span
                                                class="price-before-discount">$ 800</span></div>
                                    </div>
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group"><button
                                                        class="btn btn-primary icon" data-toggle="dropdown"
                                                        type="button"><i
                                                            class="fa fa-shopping-cart"></i></button><button
                                                        class="btn btn-primary cart-btn" type="button">Add to
                                                        cart</button></li>
                                                <li class="lnk wishlist"><a class="add-to-cart" href="detail.html"
                                                        title="Wishlist"><i class="icon fa fa-heart"></i></a></li>
                                                <li class="lnk"><a class="add-to-cart" href="detail.html"
                                                        title="Compare"><i class="fa fa-signal"></i></a></li>
                                            </ul>
                                        </div>
                                    </div><!-- /.cart -->
                                </div><!-- /.product -->
                            </div><!-- /.products -->
                        </div><!-- /.item -->
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img
                                                    src="/assets/images/products/p4.jpg" alt=""></a></div>
                                        <!-- /.image -->
                                        <div class="tag new"><span>new</span></div>
                                    </div><!-- /.product-image -->
                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span class="price"> $650.99</span><span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->
                                    </div><!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group"><button
                                                        class="btn btn-primary icon" data-toggle="dropdown"
                                                        type="button"><i
                                                            class="fa fa-shopping-cart"></i></button><button
                                                        class="btn btn-primary cart-btn" type="button">Add to
                                                        cart</button></li>
                                                <li class="lnk wishlist"><a class="add-to-cart" href="detail.html"
                                                        title="Wishlist"><i class="icon fa fa-heart"></i></a></li>
                                                <li class="lnk"><a class="add-to-cart" href="detail.html"
                                                        title="Compare"><i class="fa fa-signal"></i></a></li>
                                            </ul>
                                        </div><!-- /.action -->
                                    </div><!-- /.cart -->
                                </div><!-- /.product -->
                            </div><!-- /.products -->
                        </div><!-- /.item -->
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img src="/assets/images/blank.gif"
                                                    data-echo="/assets/images/products/p5.jpg" alt=""></a></div>
                                        <!-- /.image -->
                                        <div class="tag hot"><span>hot</span></div>
                                    </div><!-- /.product-image -->
                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span class="price"> $650.99</span><span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->
                                    </div><!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group"><button
                                                        class="btn btn-primary icon" data-toggle="dropdown"
                                                        type="button"><i
                                                            class="fa fa-shopping-cart"></i></button><button
                                                        class="btn btn-primary cart-btn" type="button">Add to
                                                        cart</button></li>
                                                <li class="lnk wishlist"><a class="add-to-cart" href="detail.html"
                                                        title="Wishlist"><i class="icon fa fa-heart"></i></a></li>
                                                <li class="lnk"><a class="add-to-cart" href="detail.html"
                                                        title="Compare"><i class="fa fa-signal"></i></a></li>
                                            </ul>
                                        </div><!-- /.action -->
                                    </div><!-- /.cart -->
                                </div><!-- /.product -->
                            </div><!-- /.products -->
                        </div><!-- /.item -->
                        <div class="item item-carousel">
                            <div class="products">
                                <div class="product">
                                    <div class="product-image">
                                        <div class="image"><a href="detail.html"><img src="/assets/images/blank.gif"
                                                    data-echo="/assets/images/products/p6.jpg" alt=""></a></div>
                                        <!-- /.image -->
                                        <div class="tag new"><span>new</span></div>
                                    </div><!-- /.product-image -->
                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="detail.html">Floral Print Buttoned</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span class="price"> $650.99</span><span
                                                class="price-before-discount">$ 800</span></div>
                                        <!-- /.product-price -->
                                    </div><!-- /.product-info -->
                                    <div class="cart clearfix animate-effect">
                                        <div class="action">
                                            <ul class="list-unstyled">
                                                <li class="add-cart-button btn-group"><button
                                                        class="btn btn-primary icon" data-toggle="dropdown"
                                                        type="button"><i
                                                            class="fa fa-shopping-cart"></i></button><button
                                                        class="btn btn-primary cart-btn" type="button">Add to
                                                        cart</button></li>
                                                <li class="lnk wishlist"><a class="add-to-cart" href="detail.html"
                                                        title="Wishlist"><i class="icon fa fa-heart"></i></a></li>
                                                <li class="lnk"><a class="add-to-cart" href="detail.html"
                                                        title="Compare"><i class="fa fa-signal"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
            <div class='col-md-3 sidebar'>
                <div class="insale_me">
                    <p class="ptitsaleme">
                        Bán cùng Ngọc Hân
                    </p>
                    <div class="box1_saleme">
                        <ul>
                            <li><strong>Khách cũ giới thiệu khách mới</strong>
                                <p>Nhận chiết khấu % lợi nhuận</p>
                            </li>
                            <li><strong>Dành cho cộng tác viên</strong>
                                <p>Giới thiệu khách &amp; nhận hoa hồng</p>
                            </li>
                            <li><strong>Nhà thiết kế nội thất, kiến trúc sư</strong>
                                <p>Đưa khách đến mua <br>
                                    thưởng phần trăm doanh thu</p>
                            </li>
                        </ul>
                    </div>
                    <div class="box2_saleme">
                        <ul>
                            <li>
                                <p>Hotline: <strong>036.842.8686 </strong>
                                </p>
                            </li>
                            <li>
                                <a href="https://goo.gl/maps/KZFtcQEG79KgFPXr8">Chỉ đường đến Ngọc Hân</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- <script src="/assets/js/owl.carousel.min.js"></script> -->
<!-- <script src="/assets/js/scripts.js"></script> -->
<script>
    $(document).ready(function () {
        getAllCategory()
        getProductDetail()

    })
    function getAllCategory() {
        $.ajax({
            type: 'GET',
            url: '/category/get-all-category',
            data: {},
            success: function (data) {
                $('.list-menu-category').empty()
                $('.list-menu-category').append(`<li class="active dropdown yamm-fw"><a href="/" data-hover="dropdown" class="dropdown-toggle">Trang Chủ</a></li>`)
                for (let j = 0; j < data.length; j++) {
                    if (j < 7) {
                        $('.list-menu-category').append(`<li class="active dropdown yamm-fw"><a href="/category/?category=${data[j].categoryName}" data-hover="dropdown" class="dropdown-toggle">${data[j].categoryName}</a></li>`)
                    }
                }

            },
            error: function (err) {
                console.log(err);
            }
        });
    }

    function getProductDetail() {
        let selectProduct = getDataURL('product') || ''
        $.ajax({
            type: 'GET',
            url: '/get-product-detail',
            data: { id: selectProduct },
            success: function (data) {
                console.log(data);
                let product = data[0]
                let pricing
                let categoryName = product.categoryName
                $('#name-product').html(product.productName)
                $('#orgin-product').html(product.origin)
                $('#color-product').html(product.color)
                $('#category-product').html(product.categoryName)
                $('#thinkness-product').html(product.thickness)

                $('#descrip-product').html(product.describe)
                $('#descrip-name-product').html(product.productName)
                $('#descrip-image-product').attr("src", "/assets/images/product/" + product.image[0]);


                let arrImg = product.image
                $('#box-detal-show').empty()
                $('#box-detal-list').empty()

                for (let i = 0; i < arrImg.length; i++) {
                    $('#box-detal-show').append(`
                    <img src="/assets/images/product/${arrImg[i]}"
                                                    alt="shoe image">
                    `)
                    $('#box-detal-list').append(`
                    <div class="img-item">
                                            <a href="#" data-id="${i + 1}">
                                                <img src="/assets/images/product/${arrImg[i]}"
                                                    alt="shoe image">
                                            </a>
                                        </div>
                    `)
                }
                test()
                getProductRelate(categoryName)
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function getProductRelate(categoryName) {
        $.ajax({
            type: 'GET',
            url: '/get-product-relate',
            data: { categoryName: categoryName },
            success: function (data) {
                $('#box-product-detail').empty()
                for (let i = 0; i < data.length; i++) {
                    let product = data[i]
                    $('#box-product-detail').append(`
                <div class="item item-carousel">
                            <div class="products">
                                <div class="product" style="width : 207px">
                                    <div class="product-image">
                                        <div class="image"><a href="#"><img
                                                    src="/assets/images/product/${product.image[0]}" alt=""></a></div>
                                    </div>
                                    <div class="product-info text-left">
                                        <h3 class="name"><a href="#">${product.productName}</a></h3>
                                        <div class="rating rateit-small"></div>
                                        <div class="description"></div>
                                        <div class="product-price"><span class="price"> Giá : Liên Hệ</span></div>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                `)
                }

            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function getDataURL(name) {
        if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
    }
    function test() {
        const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        let imgId = 1;

        imgBtns.forEach((imgItem) => {
            imgItem.addEventListener('click', (event) => {
                event.preventDefault();
                imgId = imgItem.dataset.id;
                slideImage();
            });
        });

        function slideImage() {
            const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

            document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId - 1) * displayWidth}px)`;
        }

        window.addEventListener('resize', slideImage);
    }

</script>

<style>
    .insale_me {
        border: 1px solid #f7f7f7;
    }

    .ptitsaleme {
        line-height: 38px;
        padding-left: 30px;
        color: #fff;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        background: #4d4d4d url(/assets/images/b.png) no-repeat 10px center;
        margin-bottom: 0;
    }

    .box1_saleme {
        background: #f4f4f4;
        padding: 8px 0px;
    }

    .box2_saleme {
        padding: 10px;
    }

    .box1_saleme ul li {
        border-bottom: 1px solid #fff;
        margin-bottom: 8px;
        font-size: 12px;
        padding-left: 20px;
    }

    .box1_saleme ul li strong {
        position: relative;
    }

    .box2_saleme ul li:nth-child(1) {
        background: url(/assets/images/c.gif)0px 2px no-repeat;
    }

    .box2_saleme ul li:last-child {
        border-bottom: none;
    }

    .box2_saleme ul li:nth-child(2) {
        background: url(/assets/images/h.png)0px 1px no-repeat;
    }

    .box1_saleme {
        background: #f4f4f4;
        padding: 8px 0px;
    }

    .box2_saleme ul li {
        margin-bottom: 8px;
        padding-bottom: 4px;
        font-size: 14px;
        padding-left: 24px;
        border-bottom: 1px solid #f1f1f1;
    }

    .description-product p {
        font-size: 15px;
        font-weight: 600;
    }

    .ycbaogia_new {
        display: table;
        width: 100%;
        margin-bottom: 25px;
        background-color: #ff5d5d;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
    }

    .ycbaogia_new h4 {
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        padding-top: 5px;
        font-size: 18px;
        margin-bottom: 0px;
    }

    .ycbaogia_new h4 a,
    .ycbaogia_new p a {
        color: #fff;
        width: 100%;
        display: table;
    }

    .ycbaogia_new p {
        text-align: center;
        font-size: 13px;
    }

    .ycbaogia_new p a {
        color: #fff;
        width: 100%;
        display: table;
    }

    #box-product-detail {
        display: flex !important;
    }
</style>
<style>
    .card-wrapper.box-image {
        max-width: 1100px;
        margin: 0 auto;
    }

    .box-image img {
        width: 100%;
        display: block;
        height: 100%;
    }

    .box-image .img-display {
        overflow: hidden;
    }

    .box-image .img-showcase {
        display: flex;
        width: 100%;
        transition: all 0.5s ease;
    }

    .box-image .img-showcase img {
        min-width: 100%;
    }

    .box-image .img-select {
        display: flex;
    }

    .box-image .img-item {
        margin: 0.3rem;
    }

    .box-image .img-item:nth-child(1),
    .box-image .img-item:nth-child(2),
    .box-image .img-item:nth-child(3) {
        margin-right: 0;
    }

    .box-image .img-item:hover {
        opacity: 0.8;
    }

    .product-content {
        padding: 2rem 1rem;
    }

    .product-title {
        font-size: 3rem;
        text-transform: capitalize;
        font-weight: 700;
        position: relative;
        color: #12263a;
        margin: 1rem 0;
    }

    .product-title::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 4px;
        width: 80px;
        background: #12263a;
    }

    .product-link {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 0.9rem;
        display: inline-block;
        margin-bottom: 0.5rem;
        background: #256eff;
        color: #fff;
        padding: 0 0.3rem;
        transition: all 0.5s ease;
    }

    .product-link:hover {
        opacity: 0.9;
    }

    .product-rating {
        color: #ffc107;
    }

    .product-rating span {
        font-weight: 600;
        color: #252525;
    }

    .product-price {
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 700;
    }

    .product-price span {
        font-weight: 400;
    }

    .last-price span {
        color: #f64749;
        text-decoration: line-through;
    }

    .new-price span {
        color: #256eff;
    }

    .product-detail h2 {
        text-transform: capitalize;
        color: #12263a;
        padding-bottom: 0.6rem;
    }

    .product-detail p {
        font-size: 0.9rem;
        padding: 0.3rem;
        opacity: 0.8;
    }

    .product-detail ul {
        margin: 1rem 0;
        font-size: 0.9rem;
    }

    .product-detail ul li {
        margin: 0;
        list-style: none;
        background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
        background-size: 18px;
        padding-left: 1.7rem;
        margin: 0.4rem 0;
        font-weight: 600;
        opacity: 0.9;
    }

    .product-detail ul li span {
        font-weight: 400;
    }

    .purchase-info {
        margin: 1.5rem 0;
    }

    .purchase-info input,
    .purchase-info .btn {
        border: 1.5px solid #ddd;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
        outline: 0;
        margin-right: 0.2rem;
        margin-bottom: 1rem;
    }

    .purchase-info input {
        width: 60px;
    }

    .purchase-info .btn {
        cursor: pointer;
        color: #fff;
    }

    .purchase-info .btn:first-of-type {
        background: #256eff;
    }

    .purchase-info .btn:last-of-type {
        background: #f64749;
    }

    .purchase-info .btn:hover {
        opacity: 0.9;
    }

    .social-links {
        display: flex;
        align-items: center;
    }

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #000;
        border: 1px solid #000;
        margin: 0 0.2rem;
        border-radius: 50%;
        text-decoration: none;
        font-size: 0.8rem;
        transition: all 0.5s ease;
    }

    .social-links a:hover {
        background: #000;
        border-color: transparent;
        color: #fff;
    }

    @media screen and (min-width: 992px) {
        .card {
            display: grid;
            grid-gap: 1.5rem;
        }

        .card-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-imgs {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .product-content {
            padding-top: 0;
        }
    }
</style>