<button onclick="createUser()">Tạo User</button>
<script>
       $(document).ready(function () {
        getUser()
    })
    function getUser() {
        $.ajax({
            type: 'GET',
            url: '/user/get-user',
            data: {},
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
    function createUser() {
        $.ajax({
            type: 'GET',
            url: '/user/create-user',
            data: {},
            success: function (data) {
                console.log(data);
            },
            error: function (err) {
                console.log(err);
            }
        });
    }
</script>